*{color: white;}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f2f2;
    background: url('assets/imagem.png')no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    text-align: center;

}

.counter {
    display:inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #097dfa;
    color: rgba(255, 255, 255, 0.959);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
}

button:focus {
    outline: none;
}

#value {
    font-size: 24px;
    width: 50px;
    text-align: center;
}
