/* Define o estilo básico do corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff; /* Cor do texto, pode ser ajustada conforme a imagem de fundo */
    background: url('assets/pikachu.png') no-repeat center center fixed;
    background-size: cover;
}

/* Estiliza o contêiner central para centralizar o texto */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da janela de visualização */
    text-align: center;
    padding: 20px;
}

/* Estiliza o título */
h1 {
    font-size: 3em;
    margin: 0;
}

/* Estiliza o parágrafo */
p {
    font-size: 1.5em;
}
